
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #00265f;
    
}

#header{
    background-color: #00265f !important;
    
}
#header img{
    width: 250px;
}
.cabecera{
    background-color: white !important;
}

#footer{
    
background-color: #00265f;
bottom:0px;
width:100%;

}
#footer a{
    color: white;
}

.bloque1 p{
    color:white;
    font-size: 40px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 20px;

}
.ctm{
    font-weight: 500;
    color: white !important;
}
.ctm:hover{
    color: #4bffff !important;
}

.text-cat {
    font-weight: 500;
    color: #40dfdf !important;
}
.text-cat:hover{
    color: #4bffff !important;

}
.rounded{
    margin-top: 20px;
    border-radius: 50% !important;
    object-fit: cover;
    padding:1px ;
    border: 30px solid transparent;
    background-color: #002b6e;
    
}
.btn-fichar{
   background-color: #41e0e0 !important; 
   color: white;
    
   
   font-weight: bold;
   padding-top: 8px; 
   padding-bottom: 8px;
   margin-top: 100px;

   

   
}
.btn-fichar:hover{
    background-color: #32c7c7 !important;
    color: white;
   
}

.imagen{
  
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
}
#time{
    color: white;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    
}
#fecha{
    color: #8aafe7;
    font-size: 20px;
    font-weight: 600;
}
.ul-lista{
   
    margin-top:20px;
    color: white;
}
.ul-lista ul{
    font-weight: 500;
    color: #8aafe7;;
    margin-top: 20px;
} 
.ul-lista li{
    font-weight: 500;
    color: white;
    list-style: none;
    background-color: #001a41;
    margin-top: 4px;
    padding: 10px;
    
}


@media (min-width: 0px) {
    .btn-fichar{
        width: 300px;
    }
}

@media (min-width: 768px) {
        .btn-fichar{
            width: 300px;
        }
}

@media (min-width: 992px) {
    .btn-fichar {
        width: 300px;
        
    }
}

@media (min-width: 1200px) {
    .btn-fichar {
        width: 300px;
    }

}

@media (min-width: 0px) {
    .bloque1{
        text-align: center;
    }
}

@media (min-width: 768px) {
        .bloque1{
            text-align: center;
        }
}

@media (min-width: 992px) {
    .bloque1 {
        text-align: left;
        
    }
}

@media (min-width: 1200px) {
    .bloque1 {
       text-align: left;
    }

}



